{$SITE_ADDRESS::80} {
    request_body {
        max_size 5MB
    }
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options DENY
        Content-Security-Policy "default-src 'none'; style-src 'self' 'unsafe-inline'; frame-ancestors 'none'; form-action 'self'"
    }
    reverse_proxy web:8000
}
